

$header: #77a6d7;
$text: #ffffff;
$button: #00998a;
$font: "Source Sans Pro", sans-serif;
body{
    font-family: $font;
    background-color: #00998a;
}
.login {
    margin:auto;
    margin-top: 10%;
    background: #ffffff;
    border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 20em;
  padding: 5em;
  justify-content: space-between;
  #uname,
  #pword {
    display: flex;
    flex-direction: column;
    input {
      border: none;
      border-bottom: 2px solid $button;
    }
  }
}
#lgnBut {
  
}
